

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #F8F8FF;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


.accordion-button:focus {
    z-index: 3;
    border-color: gray;
    outline: 0;
    /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}